<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.datanucleus.store_manager">
    <store-manager class-name="org.cumulus4j.core.Cumulus4jStoreManager" key="cumulus4j" url-key="cumulus4j"/>
  </extension>

  <extension point="org.datanucleus.store_connectionfactory">
    <connectionfactory name="cumulus4j" class-name="org.cumulus4j.core.Cumulus4jConnectionFactory"
          datastore="cumulus4j" transactional="true">
    </connectionfactory>
  </extension>

  <extension point="org.datanucleus.store_query_query">
    <query name="JDOQL" class-name="org.cumulus4j.core.query.JDOQLQuery" datastore="cumulus4j"/>
    <query name="JPQL" class-name="org.cumulus4j.core.query.JPQLQuery" datastore="cumulus4j"/>
  </extension>

  <extension point="org.datanucleus.store_valuegenerator">
    <valuegenerator name="increment" class-name="org.cumulus4j.core.Cumulus4jIncrementGenerator" datastore="cumulus4j"/>
    <valuegenerator name="sequence" class-name="org.cumulus4j.core.Cumulus4jIncrementGenerator" datastore="cumulus4j"/>
  </extension>

  <extension point="org.cumulus4j.api.cryptoManager">
    <cryptoManager class="org.cumulus4j.core.DummyCryptoManager" cryptoManagerID="dummy"/>
  </extension>

  <extension point="org.datanucleus.persistence_properties">
    <persistence-property name="cumulus4j.cryptoManagerID" manager-overrideable="true"/>
    <persistence-property name="cumulus4j.cryptoSessionID" manager-overrideable="true"/>
  </extension>
</plugin>
