<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.cumulus4j.store.cryptoManager">
    <cryptoManager
          class="org.cumulus4j.store.crypto.keymanager.KeyManagerCryptoManager"
          cryptoManagerID="keyManager">
    </cryptoManager>
 </extension>
</plugin>
