	---
	Herunterladen
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-04-08

Herunterladen

	Es gibt mehrere Möglichkeiten, Cumulus4j herunterzuladen:

* {Manuell}

	{{{https://sourceforge.net/projects/cumulus4j/files/}Durchsuchen Sie alle veröffentlichten Dateien hier}}.
	Hier finden Sie sowohl Binär- als auch {{Quelltext}}-Veröffentlichungen.

* Maven

** Lager (Repositories)

	Um Cumulus4j in Ihren {{{http://maven.apache.org}Maven}}-Build-Prozeß zu integrieren,
	müssen Sie zunächst mindestens eines der folgenden Lager (abhängig von den gewünschten
	Versionen) in Ihre <<<pom.xml>>> eintragen:

*** Lager für Veröffentlichungen (Release repository)

	Dieses Lager enthält Veröffentlichungen (empfohlen):

+------------------------------------------+
<repositories>
	...
	<repository>
		<id>dev.nightlabs.org</id>
		<name>dev.nightlabs.org-releases</name>
		<url>http://dev.nightlabs.org/maven-repository/libs-releases/</url>
		<snapshots>
			<enabled>false</enabled>
		</snapshots>
		<releases>
			<enabled>true</enabled>
		</releases>
	</repository>
	...
</repositories>
+------------------------------------------+

*** Schnappschuß-Lager (Snapshot repository)

	Für Entwicklungszwecke ist es manchmal erforderlich, aktuelle (noch nicht veröffentlichte) Entwicklungsversionen
	aus dem Schnappschuß-Lager zu verwenden. Wenn dies aber nicht unbedingt notwendig ist, raten wir dringend dazu,
	stattdessen das 'Lager für Veröffentlichungen' (siehe oben) zu verwenden.

+------------------------------------------+
<repositories>
	...
	<repository>
		<id>dev.nightlabs.org</id>
		<name>dev.nightlabs.org-releases</name>
		<url>http://dev.nightlabs.org/maven-repository/libs-snapshots/</url>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
		<releases>
			<enabled>false</enabled>
		</releases>
	</repository>
	...
</repositories>
+------------------------------------------+

	Da Schnappschuß-Versionen vollautomatisch (nach Änderungen, bis zu mehrfach täglich) bereitgestellt werden, können sie durchaus
	grobe Fehler beinhalten. Benutzen Sie sie niemals in Produktivumgebungen!

** Abhängigkeiten

	Cumulus4j besteht aus mehreren {{{../modules.html}Modulen}}. Deren Maven-Koordinaten finden Sie jeweils
	in der Dokumentation der einzelnen Module.

	Bitte beachten Sie, daß Sie zusätzlich auch alle benötigten
	{{{http://www.datanucleus.org/plugins/core/index.html}DataNucleus-Module}} mit in Ihre Applikation
	hinein packen müssen. Welche das genau sind, hängt von Ihrer konkreten Situation ab (z.B. dem
	{{{http://www.datanucleus.org/products/accessplatform_3_0/datastores.html}Datenbank-System}}, das Sie
	benutzen möchten, sowie der
	{{{http://www.datanucleus.org/products/accessplatform_3_0/api.html}API}} [JDO oder JPA] gegen die Sie
	Ihre Anwendung geschrieben haben).

* {Quelltext}

	Konsultieren Sie die Seite {{{../documentation/development.html}Entwicklung}}, um herauszufinden, wie Sie
	die Quelltexte herunterladen und eine Entwicklungsumgebung aufsetzen.

	Obwohl Sie die Quelltext-JARs aus dem {{{Manuell}manuellen}} Download-Bereich herunterladen können,
	empfehlen wir dringend, den Instruktionen der Seite 'Entwicklung' zu folgen.
