	---
	Herunterladen
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-04-08

Herunterladen

	Es gibt mehrere Möglichkeiten, Cumulus4j herunterzuladen:

* {manual}Manuell

	{{{https://sourceforge.net/projects/cumulus4j/files/}Durchsuchen Sie alle veröffentlichten Dateien hier}}.
	Hier finden Sie sowohl Binär- als auch {{{source}Quelltext}}-Veröffentlichungen.

* Maven

** Lager (Repositories)

	Um Cumulus4j in Ihren {{{http://maven.apache.org}Maven}}-Build-Prozeß zu integrieren,
	müssen Sie zunächst mindestens eines der folgenden Lager (abhängig von den gewünschten
	Versionen) in Ihre <<<pom.xml>>> eintragen:

*** Lager für Veröffentlichungen (Release repository)

	Dieses Lager enthält stabile Veröffentlichungen (empfohlen):

+------------------------------------------+
<repositories>
	...
	<repository>
		<id>dev.nightlabs.org</id>
		<name>dev.nightlabs.org-releases</name>
		<url>http://dev.nightlabs.org/maven-repository/libs-releases/</url>
		<snapshots>
			<enabled>false</enabled>
		</snapshots>
		<releases>
			<enabled>true</enabled>
		</releases>
	</repository>
	...
</repositories>
+------------------------------------------+

*** Schnappschuß-Lager (Snapshot repository)

	Für Entwicklungszwecke ist es manchmal erforderlich, aktuelle (noch nicht veröffentlichte) Entwicklungsversionen
	aus dem Schnappschuß-Lager zu verwenden. Wenn dies aber nicht unbedingt notwendig ist, raten wir dringend dazu,
	stattdessen das 'Lager für Veröffentlichungen' (siehe oben) zu verwenden. 

+------------------------------------------+
<repositories>
	...
	<repository>
		<id>dev.nightlabs.org</id>
		<name>dev.nightlabs.org-releases</name>
		<url>http://dev.nightlabs.org/maven-repository/libs-snapshots/</url>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
		<releases>
			<enabled>false</enabled>
		</releases>
	</repository>
	...
</repositories>
+------------------------------------------+

** Abhängigkeiten

	Cumulus4j besteht aus mehreren Modulen.

*** org.cumulus4j.api

	Wie der Name schon sagt, ist dies die Cumulus4j-API. Um Ihre Applikation zu kompilieren, müssen
	Sie diese Abhängigkeit in Ihre <<<pom.xml>>> einfügen:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.api</artifactId>
		<version>${cumulus4jStableVersion}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+

	Um jedoch eine lauffähige Applikation zusammenzustellen, benötigen Sie zusätzlich auch noch
	das Modul <<<org.cumulus4j.core>>> (siehe unten).

*** org.cumulus4j.core

	<<<org.cumulus4j.core>>> enthält die Implementation von Cumulus4j und wird benötigt, um es auch tatsächlich
	zu benutzen. Da es sich hierbei um ein DataNucleus-Plugin handelt, welches keinerlei API-Klassen enthält,
	müssen Sie eine Abhängigkeit darauf nur deklarieren, um Ihre Applikation zusammenzustellen.

	Note, that you'll then need to package all required
	DataNucleus modules, too. Which ones depends on your environment (e.g. the database backend you want to use,
	as well as the API [JDO or JPA] against which you wrote your application).

	Add the following dependency to your <<<pom.xml>>> to include <<<org.cumulus4j.core>>> into your build process:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.core</artifactId>
		<version>${cumulus4jStableVersion}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+  

	Note, that <<<org.cumulus4j.core>>> has a dependency onto <<<org.cumulus4j.api>>> and thus, you don't need to declare
	a dependency onto <<<org.cumulus4j.api>>> additionally. However, you should never use classes in your application
	from the <<<org.cumulus4j.core>>> module!

* {source}Quelltexte

	Consult the {{{../documentation/development.html}Development}} page for information about how to obtain
	the source code and to set up a development workspace.
	
	Though you can download the source code JARs from the {{manual}} download location, it is urgently
	recommended that you follow the instructions of the 'Development' page.
 