	---
	Module org.cumulus4j.keystore
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.keystore

	The key store manages keys safely in the local file system. It is similar to a
	{{{http://download.oracle.com/javase/6/docs/api/java/security/KeyStore.html}Java-KeyStore}},
	but	specifically serves the needs of Cumulus4j.

* Maven

	After adding the repositories documented on the {{{../download/index.html}Download}} page
	to your <<<pom.xml>>>, you can add the following dependency in order to use this module: 

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keystore</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+
