	---
	Modul org.cumulus4j.keymanager.front.shared
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Modul org.cumulus4j.keymanager.front.shared

	Geteilte Klassen zur Kommunikation zwischen {{{../org.cumulus4j.keymanager.api/}app-client (key manager API)}} und
	{{{../org.cumulus4j.keymanager.front.webapp/}key-server}}.

	Da die Kommunikation auf REST basiert, sind die meisten Klassen {{{http://en.wikipedia.org/wiki/Data_Transfer_Object}DTOs}},
    welche mittels XML oder JSON übertragen werden.


* Maven

	Nachdem Sie die auf {{{../download/index.html}Download}} dokumentierten Repositories
	zu Ihrer <<<pom.xml>>> hinzugefügt haben, können Sie die folgende Abhängigkeit hinzufügen 
	um sie in Ihrem Modul zu benutzen:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keymanager.front.shared</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+

* Deployment location

	Die {{{../documentation/deployment-module-location-matrix.html}module-location-matrix}} zeigt, wo dieses Modul
	eingesetzt werden muss.
