	---
	Module org.cumulus4j.keymanager.back.webapp
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.keymanager.back.webapp

	Web-app running on the app-server to allow communication between key-manager and app-server (see the
	yellow arrow in {{{../documentation/deployment-scenarios.html}Deployment scenarios}}).

	This module contains only build information (a <<<pom.xml>>>) and a web-app-declaration
	(a <<<WEB-INF/web.xml>>>). The actual REST implementation classes are in module
	{{{../org.cumulus4j.store.crypto.keymanager/}org.cumulus4j.store.crypto.keymanager}}, package
	{{{../apidocs/index.html?org/cumulus4j/store/crypto/keymanager/rest/package-summary.html}org.cumulus4j.store.crypto.keymanager.rest}}.

* Maven

	After adding the repositories documented on the {{{../download/index.html}Download}} page
	to your <<<pom.xml>>>, you can add the following dependency in order to use this module: 

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keymanager.back.webapp</artifactId>
		<type>war</type>
	</dependency>
	...
</dependencies>
+------------------------------------------+

	The above dependency does not (and should not!) declare a version. Instead, it is recommended that
	you add the following to your dependency-management:

+------------------------------------------+
<dependencyManagement>
	<dependencies>
		...
		<dependency>
			<groupId>org.cumulus4j</groupId>
			<artifactId>org.cumulus4j.parent</artifactId>
			<type>pom</type>
			<version>${project.version}</version>
			<scope>import</scope>
		</dependency>
		...
	</dependencies>
</dependencyManagement>
+------------------------------------------+

* Deployment location

	The {{{../documentation/deployment-module-location-matrix.html}module-location-matrix}} shows where
	this module needs to be deployed.
