	---
	Module org.cumulus4j.integrationtest.webapp
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.integrationtest.webapp

	This is an integration test launching a Jetty servlet container with a dummy web app containing
	DataNucleus and Cumulus4j. It is used to test the cooperation of all parts in a complete simulation
	of app server (simulated by Jetty + dummy web app) and client (test classes in /src/test/java of this
	project). 

	You can start the jetty server of this project by the following command:

+-------------------------------------------+
mvn jetty:run
+-------------------------------------------+

	Btw., this WAR contains a little example Ajax client which you can try at:
	{{http://localhost:8585/org.cumulus4j.integrationtest.webapp/jquery-test.html}}

	This Ajax client only works, if both application server and key server are running, i.e. you have to
	additionally start {{{../org.cumulus4j.integrationtest.withkeyserver/index.html}org.cumulus4j.integrationtest.withkeyserver}}.
