	---
	Modul org.cumulus4j.store
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Modul org.cumulus4j.store

	Plug-in für {{{http://www.datanucleus.org}DataNucleus}}, ermöglicht verschlüsselte Datenspeicherung.
	
	Es ist verantwortlich für die Speicherung von Daten in einer verschlüsselten Form, sowie die Abfrage der Daten
	(dabei werden JDOQL und JPAQL unterstützt). Deshalb nutzt es einen Backend-Datenspeicher
	(erreichbar via DataNucleus über die JDO-API), der seine eigene Datenstruktur verwaltet.
	Zusätzlich zur Verwendung von nur einem einzigen Backend-Datenspeicher, wird die Verwendung von zwei separaten
	Datenspeichern (einer für Indizes und einer für die tatsächlichen Daten) ebenfalls unterstützt.

DataNucleus nutzt den Eclipse-Plugin-Mechanismus und dieses Plugin ist der Kern von Cumulus4j mit Erweiterungen
auf die folgenden DN Erweiterungspunkte:
	
	* org.datanucleus.member_annotation_handler
	
	* org.datanucleus.persistence_properties
	
	* org.datanucleus.store_connectionfactory
	
	* org.datanucleus.store_manager
	
	* org.datanucleus.store_query_query
	
	* org.datanucleus.store_valuegenerator
	
	[]
	
	Um erweiterbar zu sein, deklariert dieses Plugins selbst einige Erweiterungspunkte:
	
	* org.cumulus4j.store.crypto_manager (see {{{../apidocs/index.html?org/cumulus4j/store/crypto/CryptoManager.html}CryptoManager}})
	
	* Extension provided by {{{../org.cumulus4j.store.crypto.keymanager/}org.cumulus4j.store.crypto.keymanager}}
	
	* org.cumulus4j.store.index_mapping (see {{{../apidocs/index.html?org/cumulus4j/store/model/IndexEntry.html}IndexEntry}})
	
	* org.cumulus4j.store.query_method (see {{{../apidocs/index.html?org/cumulus4j/store/query/method/MethodEvaluator.html}MethodEvaluator}})
	
	[]
	
	Diese Listen könnten nicht aktuell sein, aber sie sollte Ihnen eine grobe Vorstellung geben
	(überprüfen Sie die Datei <<<plugin.xml>>>, wenn Sie sicher sein wollen).

* Maven

	Nach dem Hinzufügen des Repositories, die auf der Seite  {{{../download/index.html}Download}} dokumentiert sind zur Datei 	
	<<<pom.xml>>> können Sie die folgende Abhängigkeit hinzufügen, um dieses Modul zu nutzen:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.store</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+
