	---
	Modul org.cumulus4j.keystore
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Modul org.cumulus4j.keystore

	{{{../apidocs/index.html?org/cumulus4j/keystore/KeyStore.html}key-store}} verwaltet diue Schlüssel sicher
	im lokalen Dateisystem. Es ist {{{http://download.oracle.com/javase/6/docs/api/java/security/KeyStore.html}Java-KeyStore}}
	ähnlich aber erfüllt die spezifischen Anforderungen von Cumulus4j.
	
	Lesen sie über den {{{../documentation/key-store.html}Schlüsselspeicher}} weiter.

* Maven

	Nach dem Hinzufügen des Repositories, das auf der {{{../download/index.html}Downloadseite}} dokumentiert ist zur Datei <<<pom.xml>>> können Sie die folgenden Parent-Deklaration hinzufügen, um dieses Modul nutzen zu können.

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keystore</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+

* Einsatzort

	Die {{{../documentation/deployment-module-location-matrix.html}Modul-Location-Matrix}} zeigt, wo dieses Modul
	bereitgestellt werden muss.
