	---
	Modul org.cumulus4j.keystore
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Modul org.cumulus4j.keystore

	Der{{{../apidocs/index.html?org/cumulus4j/keystore/KeyStore.html} Key-Store}} verwaltet die Schlüssel sicher
	im lokalen Dateisystem. Er ist {{{http://download.oracle.com/javase/6/docs/api/java/security/KeyStore.html}Java-KeyStore}}
	ähnlich aber erfüllt die spezifischen Anforderungen von Cumulus4j.
	
	Lesen sie über den {{{../documentation/key-store.html}Schlüsselspeicher}} weiter.

* Maven

	Nachdem Sie die auf {{{../download/index.html}Herunterladen}} dokumentierten Lager (Repositories)
	zu Ihrer <<<pom.xml>>> hinzugefügt haben, können Sie die folgende Abhängigkeit deklarieren, 
	um dieses Modul zu benutzen:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keystore</artifactId>
	</dependency>
	...
</dependencies>
+------------------------------------------+

	Die obige Abhängigkeit deklariert keine Version (und sollte dies auch nicht tun!). Stattdessen empfehlen
	wir, folgendes zu Ihrem "dependency-management" hinzuzufügen:

+------------------------------------------+
<dependencyManagement>
	<dependencies>
		...
		<dependency>
			<groupId>org.cumulus4j</groupId>
			<artifactId>org.cumulus4j.parent</artifactId>
			<type>pom</type>
			<version>${project.version}</version>
			<scope>import</scope>
		</dependency>
		...
	</dependencies>
</dependencyManagement>
+------------------------------------------+

* Einsatzort

	Die {{{../documentation/deployment-module-location-matrix.html}Modul-Ort-Matrix}} zeigt, wo dieses Modul
	bereitgestellt werden muss.
