	---
	Module org.cumulus4j.store.test.jpa
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.store.test.jpa

	Tests for {{{/org.cumulus4j.store/index.html}org.cumulus4j.store}} testing persist- and query-functionality
	without key management. The tests in this project use the JPA API.
