<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.datanucleus.member_annotation_handler">
        <member-annotation-handler annotation-class="org.cumulus4j.annotation.NotQueryable" 
            handler="org.cumulus4j.annotation.NotQueryableHandler"/>
    </extension>
</plugin>
