	---
	Module org.cumulus4j.store
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.store

	Plug-in for {{{http://www.datanucleus.org}DataNucleus}} providing encrypted data-storage.
	
	It is responsible for storing data in an encrypted form as well as querying the data (JDOQL or JPAQL
	are supported). Therefore, it uses a backend-datastore (accessed via DataNucleus over the JDO API)
	in which it manages its own data structure. Additionally to using only one single backend-datastore, the
	usage of two separate datastores (one for indexes and one for the actual data) is supported, too.
	
	DataNucleus uses the Eclipse plugin-mechanism and this plug-in is the core of Cumulus4j containing extensions
	to the following DN extension-points:
	
	* org.datanucleus.member_annotation_handler
	
	* org.datanucleus.persistence_properties
	
	* org.datanucleus.store_connectionfactory
	
	* org.datanucleus.store_manager
	
	* org.datanucleus.store_query_query
	
	* org.datanucleus.store_valuegenerator
	
	[]
	
	In order to be extensible, this plug-in itself declares a few extension-points:
	
	* org.cumulus4j.store.crypto_manager (see {{{../apidocs/index.html?org/cumulus4j/store/crypto/CryptoManager.html}CryptoManager}})
	
		* Extension provided by {{{../org.cumulus4j.store.crypto.keymanager/}org.cumulus4j.store.crypto.keymanager}}
	
	* org.cumulus4j.store.index_mapping (see {{{../apidocs/index.html?org/cumulus4j/store/model/IndexEntry.html}IndexEntry}})
	
	* org.cumulus4j.store.query_method (see {{{../apidocs/index.html?org/cumulus4j/store/query/method/MethodEvaluator.html}MethodEvaluator}})
	
	[]
	
	These lists might not be up-to-date, but they should give you an idea
	(check the <<<plugin.xml>>>, if you want to be sure).

* Maven

	After adding the repositories documented on the {{{../download/index.html}Download}} page
	to your <<<pom.xml>>>, you can add the following dependency in order to use this module: 

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.store</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+
