	---
	Module org.cumulus4j.store
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.store

	Plug-in for {{{http://www.datanucleus.org}DataNucleus}} providing encrypted data-storage.
	
	DataNucleus uses the Eclipse plugin-mechanism and this plug-in is the core of Cumulus4j containing extensions
	to the following DN extension-points:
	
	* org.datanucleus.store_manager
	
	* org.datanucleus.store_connectionfactory
	
	* org.datanucleus.store_query_query
	
	* org.cumulus4j.store.index_mapping
	
	* org.cumulus4j.store.query_method
	
	* org.datanucleus.store_valuegenerator
	
	* org.datanucleus.persistence_properties
	
	* org.datanucleus.member_annotation_handler
	
	This list might not be up-to-date, but it should give you an idea.

	TODO document this module!

* Maven

	After adding the repositories documented on the {{{../download/index.html}Download}} page
	to your <<<pom.xml>>>, you can add the following dependency in order to use this module: 

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.store</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+
