	---
	Module org.cumulus4j.keymanager.front.shared
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.keymanager.front.shared

	Shared classes to communicate between {{{../org.cumulus4j.keymanager.api/}app-client (key manager API}}) and
	{{{../org.cumulus4j.keymanager.front.webapp/}key-server}}.

	Since the communication is based on REST, most classes here are {{{http://en.wikipedia.org/wiki/Data_Transfer_Object}DTOs}}
	which are transferred via XML or JSON.

* Maven

	After adding the repositories documented on the {{{../download/index.html}Download}} page
	to your <<<pom.xml>>>, you can add the following dependency in order to use this module: 

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keymanager.front.shared</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+------------------------------------------+

* Deployment location

	The {{{../documentation/deployment-module-location-matrix.html}module-location-matrix}} shows where
	this module needs to be deployed.
