	---
	Module org.cumulus4j.keymanager.front.shared
	---
	Marco หงุ่ยตระกูล-Schulze
	---
	2011-06-02

Module org.cumulus4j.keymanager.front.shared

	Geteilte Klassen für die Kommunikation zwischen {{{../org.cumulus4j.keymanager.api/}app-client (key manager API)}}
	und {{{../org.cumulus4j.keymanager.front.webapp/}key-server}}.

    Da die Kommunikation aud REST basiert, sind die meisten Klassen {{{http://en.wikipedia.org/wiki/Data_Transfer_Object}DTOs}}
    welche mittels XML oder JSON übertragen werden.

* Maven

	Nachdem Sie die auf {{{../download/index.html}Herunterladen}} dokumentierten Lager (Repositories)
	zu Ihrer <<<pom.xml>>> hinzugefügt haben, können Sie die folgende Abhängigkeit deklarieren, 
	um dieses Modul zu benutzen:

+------------------------------------------+
<dependencies>
	...
	<dependency>
		<groupId>org.cumulus4j</groupId>
		<artifactId>org.cumulus4j.keymanager.front.shared</artifactId>
	</dependency>
	...
</dependencies>
+------------------------------------------+

	Die obige Abhängigkeit deklariert keine Version (und sollte dies auch nicht tun!). Stattdessen empfehlen
	wir, folgendes zu Ihrem "dependency-management" hinzuzufügen:

+------------------------------------------+
<dependencyManagement>
	<dependencies>
		...
		<dependency>
			<groupId>org.cumulus4j</groupId>
			<artifactId>org.cumulus4j.parent</artifactId>
			<type>pom</type>
			<version>${project.version}</version>
			<scope>import</scope>
		</dependency>
		...
	</dependencies>
</dependencyManagement>
+------------------------------------------+

* Einsatzort

	Die {{{../documentation/deployment-module-location-matrix.html}Modul-Ort-Matrix}} zeigt, wo dieses Modul
	bereitgestellt werden muss.
